<!DOCTYPE html >
<html>
  <head>
    <title>DEWANSHPAGE</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>
  <body>
    <h2 class="text-center">CAREERS WEBSITE </h2>
    <img   src="https://dewansh-python-website.dewanshmathur.repl.co/static/mainimg.jpg" height="300" width="100%" >
      <p class="text-center">we will learn here and maka a proper dynamic website.Our website provide all the latest openings here</P>
     <h4 class="text-center">CURRENT OPENINGS</h4>
    <div class="row text-center">
      {% for job in jobs %}
       {% include 'jobitems.html' %}
      {% endfor %}
    </div>

    </div>
    <div class=" text-center">
    <button type="button" class=" text-center btn btn-primary btn-lg">CONTACT US</button>
    </div>
  </body>
</html>