<!DOCTYPE html >
<html>
  <head>
    <title>JOBDETAILSPAGE</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">DEWANSHJOBS</a>
  </div>
</nav>

    <h2 class="text-center">JOB DETAILS </h2>
    <img   src="https://dewansh-python-website.dewanshmathur.repl.co/static/mainimg.jpg" height="300" width="100%" >
    
    <div class="row text-center">
      {% for job in jobs %}
       <div class="mt-4 ">
         <h4>{{ job['title'] }} </h4>
           <b>Location:</b> {{ job['location']}}
            <h6>{{ job['currency'] }}{{ job['salary']}}</h6>
          <b>resposibilities : </b>{{ job['responsibilities'] }}<br>
          <b>requirements : </b>{{ job['requirements'] }} 
        </div>
      {% endfor %}
    </div>



    <div class="ms-5 mt-2">
   
      {% include 'applicationform.html'  %}
     
    </div>
    

    </div>
    <div class=" text-center">
    <button type="button" class=" text-center btn btn-primary btn-lg">CONTACT US</button>
    </div>
  </body>
</html>